    body {
		background-color: black
	} 
	#console {
		font-family: courier, monospace;
		color: #0f0;
		width:1000px;
		margin-left:auto;
		margin-right:auto;
		margin-top:5px;
		font-size:10px;
        text-shadow: 1px 1px 1px white;
	}
   
	a {
		color: #0f0;
		text-decoration: none;
	}       
